# Copyright (c) 2024-2026 NVIDIA CORPORATION. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

.git
.github
target
crates/rustc-codegen-cuda/target
crates/rustc-codegen-cuda/examples/*/target
crates/rustc-codegen-cuda/examples/**/*.ptx
crates/rustc-codegen-cuda/examples/**/*.ll
crates/rustc-codegen-cuda/examples/**/*.ltoir
crates/rustc-codegen-cuda/examples/**/*.cubin
cuda-oxide-book/_build
cuda-oxide-book/.venv
